<div class="employeetable">
	<table id="admintable">
		<thead>
			<th class="colhead">Employee ID</th>
			<th class="colhead">Name</th>
			<th class="colhead">Hours</th>
			<th class="colhead">Phone</th>
			<th class="colhead">Shift</th>
			<th class="colhead">Position</th>
			<th class="colhead">Call Status</th>
		</thead>
		<tr class="roweven">
			<td class="coleven">12345</td>
			<td class="colodd">Bossy Boss</td>
			<td class="coleven">0</td>
			<td class="colodd">555-666-7777</td>
			<td class="coleven">Weekdays</td>
			<td class="colodd">Tech Control</td>
			<td class="coleven">Yes</td>
		</tr>
	</table>
</div>