<!--    Name: William Sung
        Assignment: CS493 Capstone
        Description: Admin Template    -->
{% extends "base.html" %}
{% block keywords %}administration{% endblock %}
{% block description %}Page for administrative functions{% endblock %}
{% block title %} Admin {% endblock %}
{% block header %}Admin{% endblock %}

{% block maincontent %}
    <div class="row">
        <div class="column side">
            <div class="adminbuttons">
                <h3 class="adminbuttonheader">Overtime Functions</h3>
                <form class="adminforms" id="adminform" action="/admin" method="post">
                    <input type="hidden" name="oper" id="oper" value="" />
                    <input type="hidden" name="var1" id="var1" value="" />
                    <input type="hidden" name="var2" id="var2" value="" />
                    <input type="hidden" name="var3" id="var3" value="" />
                </form>

                <button class="admin button" onclick="show('open-form-add-hours')">Modify Employee</button>
                <button class="admin button" onclick="window.location='/add'">Add Employee</button>
                <button class="admin button" onclick="generate_report()">Generate Report</button>
            </div>
        </div>
        <div class="column main">
            <div class="admintablediv">
                <h2>{% block tabletitle %}Employees{% endblock %}</h2>

                <p>{% include "admintable.html" %}</p>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="column side">
            <div class="adminbuttons">
                <h3 class="adminbuttonheader">Leave Functions</h3>
                <button class="admin button" onclick="show('open-form-add-leave')">Add/Remove Leave</button>
            </div>
        </div>
        <div class="column main">
            <div class="leave-div">
                <h3>Leave</h3>
                <p>{% include "leave.html" %}</p>
            </div>
        </div>
    </div>

    <div class="hidden-forms">
    <!-- add hours form -->
        <div class="popup" id="open-form-add-hours">
            <div class="popup-wrapper">
                <div class="popup-header row">
                    <h3 id="popup-header">Employee Functions</h3>
                    <span class="close" id="x-button" onclick="hide('open-form-add-hours')">&times;</span>
                </div>

                <div class="popup-content row">

                    <div class="form-div" id="add-hours-form-div">
                        <form class="admin-form" id="add-hours-form" onsubmit="return validate_hours()" method="post">
                            <fieldset>
                                </p><legend>Overtime Information</legend>
                                <p><label for="oper" class="question" required>Operation:&nbsp; </label>
                                    <select class="select" id="oper-hours-form" name="oper" onchange="show_hours_selection()" required>
                                        <option value="" selected="selected">Please Select Operation</option>
                                        <option value="add">Add</option>
                                        <option value="remove">Remove</option>
                                        <option value="delete">Delete</option>
                                        <option value="view">View</option>
                                    </select></p>
                                <label for="add-hours-id question" class="question">Employee ID: </label>
                                    <input id="add-hours-id" class="textBox" name="add-hours-id" type="text" pattern="[0-9]{5}"
                                           title="5 Numbers Only" required placeholder="Enter Employee ID"  size="30" maxlength="5"></p>
                                <div id="hours-enable">
                                    <p><label class="question" for="add-hours">Hours:&nbsp;</label>
                                            <input id="add-hours" class ="textBox" name="hours" required placeholder="Please enter hours."
                                                   type="number" min="0" size="30" maxlength="20"></p>
                                </div>
                                <input type="submit" class="submit button"><button class="cancel button" onclick="return hide('open-form-add-hours')">Cancel</button>
                            </fieldset>
                        </form>
                    </div>

                </div>
                <div class="popup-footer"></div>
            </div>

        </div>


    <!-- add leave form -->
        <div class="popup" id="open-form-add-leave">
            <div class="popup-wrapper">

                <div class="popup-header row">
                    <h3 id="popup-header">Leave</h3>
                    <span class="close" id="x-button" onclick="hide('open-form-add-leave')">&times;</span>
                </div>

                <div class="popup-content row">
                    <div class="form-div" id="leave-form-add">
                        <form class="admin-form" id="leave-form" onsubmit="return validate_leave()" method="post">
                            <fieldset>
                                </p><legend>Leave Information</legend>
                                <p><label for="oper" class="question" required>Operation:&nbsp; </label>
                                    <select class="select" id="oper-leave-form" name="oper" onchange="check_leave_enables()" required>
                                        <option value="">Please Select Operation</option>
                                        <option value="leave">Add</option>
                                        <option value="leave-delete">Remove</option>
                                    </select></p>

                                <div class="date-questions" id="date-questions">
                                    <p><label for="leave-id question" class="question">Employee ID: </label>
                                        <input id="leave-id" class="textBox" name="leave-id" type="text" pattern="[0-9]{5}"
                                           title="5 Numbers Only" required placeholder="Enter Employee ID"  size="30" maxlength="5"></p>
                                    </p><label class="question" for="start-date question">Start:</label>
                                        <input type="date" class="date-form textBox" id="start-date" onchange="check_start_date()" name="start-date" required></p>
                                    </p><label class="question" for="end-date question">End:</label>
                                        <input type="date" class="date-form textBox" id="end-date" onchange="check_end_date()" name="end-date" required></p>
                                </div>

                                <div class="delete-questions" id="delete-questions">
                                        <input type="hidden" name="oper" id="oper" value="leave-delete" />
                                        <label class="question" for="leave-id-delete">Leave ID: </label>
                                        <input class="textBox" id="leave-id-delete" name="leave-id-delete" type="text" pattern="[0-9]" title="leave id" required placeholder="Enter Leave ID"  size="30">
                                </div>
                                <input id="leave-button" type="submit" class="submit button"><button class="cancel button" onclick="return hide('open-form-add-leave')">Cancel</button>

                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="popup-footer"></div>
            </div>
        </div>

    </div>
    {% block extensions %}
    {% endblock %}
    <script src="/static/js/admin.js"></script>
{% endblock %}