<div class="employeetable">
	<table id="admintable">
		<thead>
			<th class="colhead">Employee ID</th>
			<th class="colhead">Name</th>
			<th class="colhead">Hours</th>
			<th class="colhead">Phone</th>
			<th class="colhead">Shift</th>
			<th class="colhead">Position</th>
			<th class="colhead">Call Status</th>
		</thead>
		<tr class="roweven">
			<td class="coleven">14752</td>
			<td class="colodd">Gordon Flay</td>
			<td class="coleven">0</td>
			<td class="colodd">123-456-7899</td>
			<td class="coleven">Weekdays</td>
			<td class="colodd">Gateway</td>
			<td class="coleven">Yes</td>
		</tr>
		<tr class="rowodd">
			<td class="coleven">14555</td>
			<td class="colodd">Hello Stranger</td>
			<td class="coleven">0</td>
			<td class="colodd">999-888-7777</td>
			<td class="coleven">Weekdays</td>
			<td class="colodd">Gateway</td>
			<td class="coleven">Yes</td>
		</tr>
		<tr class="roweven">
			<td class="coleven">12345</td>
			<td class="colodd">Yankee Doodle</td>
			<td class="coleven">8</td>
			<td class="colodd">888-777-8888</td>
			<td class="coleven">Weekends</td>
			<td class="colodd">Gateway</td>
			<td class="coleven">Yes</td>
		</tr>
		<tr class="rowodd">
			<td class="coleven">12447</td>
			<td class="colodd">Random Person</td>
			<td class="coleven">250</td>
			<td class="colodd">111-111-1111</td>
			<td class="coleven">Weekdays</td>
			<td class="colodd">Tech Control</td>
			<td class="coleven">Yes</td>
		</tr>
		<tr class="roweven">
			<td class="coleven">12455</td>
			<td class="colodd">Crazy Man</td>
			<td class="coleven">12455</td>
			<td class="colodd">333-444-5555</td>
			<td class="coleven">Weekends</td>
			<td class="colodd">Tech Control</td>
			<td class="coleven">Yes</td>
		</tr>
	</table>
</div>