<!--    Name: William Sung
        Assignment: CS493 Capstone
        Description: Access Denied Page    -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="template" content="access denied"/>
    <meta name="description" content="access denied Page"/>
    <meta name="author" content="William Sung"/>
    <meta name="robots" content="nofollow"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{{ url_for('static', filename='css/webdefault.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body class="denied-access-body">
<div class="lock"></div>
<div class="message">
    <h1>Access to this page is restricted</h1>

</div>
</body>
</html>