<div class="employeetable">
	<table>
		<thead>
			<th class="colhead">Employee ID</th>
			<th class="colhead">Name</th>
			<th class="colhead">Hours</th>
			<th class="colhead">Phone</th>
			<th class="colhead">Shift</th>
		</thead>
		<tr class="roweven">
			<td class="coleven">14752</td>
			<td class="colodd">Gordon Flay</td>
			<td class="coleven">0</td>
			<td class="colodd">123-456-7899</td>
			<td class="coleven">Weekdays</td>
		</tr>
		<tr class="rowodd">
			<td class="coleven">14788</td>
			<td class="colodd">Bobby Nash</td>
			<td class="coleven">0</td>
			<td class="colodd">741-456-8523</td>
			<td class="coleven">Weekends</td>
		</tr>
		<tr class="roweven">
			<td class="coleven">14555</td>
			<td class="colodd">Hello Stranger</td>
			<td class="coleven">0</td>
			<td class="colodd">999-888-7777</td>
			<td class="coleven">Weekdays</td>
		</tr>
	</table>
</div>