<div class="employeetable">
	<table id="admintable">
		<thead>
			<th class="colhead">Date</th>
			<th class="colhead">Employee ID</th>
			<th class="colhead">Name</th>
		</thead>
		<tr class="roweven">
			<td class="coleven">07/20/2023</td>
			<td class="coleven">N/A</td>
			<td class="colodd">Not Covered</td>
		</tr>
		<tr class="roweven">
			<td class="coleven">07/21/2023</td>
			<td class="coleven">N/A</td>
			<td class="colodd">Not Covered</td>
		</tr>
		<tr class="roweven">
			<td class="coleven">07/22/2023</td>
			<td class="coleven">N/A</td>
			<td class="colodd">Not Covered</td>
		</tr>
		<tr class="roweven">
			<td class="coleven">07/23/2023</td>
			<td class="coleven">N/A</td>
			<td class="colodd">Not Covered</td>
		</tr>
		<tr class="roweven">
			<td class="coleven">07/24/2023</td>
			<td class="coleven">N/A</td>
			<td class="colodd">Not Covered</td>
		</tr>
		<tr class="roweven">
			<td class="coleven">07/25/2023</td>
			<td class="coleven">N/A</td>
			<td class="colodd">Not Covered</td>
		</tr>
		<tr class="roweven">
			<td class="coleven">07/26/2023</td>
			<td class="coleven">N/A</td>
			<td class="colodd">Not Covered</td>
		</tr>
	</table>
</div>