<div class="employeetable">
	<table>
		<thead>
			<th class="colhead">Employee ID</th>
			<th class="colhead">Name</th>
			<th class="colhead">Hours</th>
			<th class="colhead">Phone</th>
			<th class="colhead">Shift</th>
		</thead>
		<tr class="roweven">
			<td class="coleven">78852</td>
			<td class="colodd">Person Beta</td>
			<td class="coleven">0</td>
			<td class="colodd">159-852-7453</td>
			<td class="coleven">Weekends</td>
		</tr>
		<tr class="rowodd">
			<td class="coleven">54877</td>
			<td class="colodd">Person Alpha</td>
			<td class="coleven">0</td>
			<td class="colodd">147-852-9632</td>
			<td class="coleven">Weekends</td>
		</tr>
		<tr class="roweven">
			<td class="coleven">35897</td>
			<td class="colodd">Hello Moto</td>
			<td class="coleven">0</td>
			<td class="colodd">159-788-9587</td>
			<td class="coleven">Weekdays</td>
		</tr>
	</table>
</div>