@charset "UTF-8";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    margin: 0;

    background: linear-gradient(45deg, #2980B9, #CCCCFF);
    background-size: cover;
    font-family: "sans-serif";
    font-weight: 100;
}


/* all buttons */

.button {
    margin: auto;
    text-align: center;
    padding: 6px 0px;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 1rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;

}

.button:hover {
    background-color: rgba(255,255,255,0.5);
}

/* Login and Logout */
.logdiv {
    display: inline-flex;
    float: right;
    width: 10%;
    height: 45px;
    justify-content: center;
    overflow: hidden;
    margin-right: 30px;
}

.login-dropdown-button, .logout input {
    cursor: pointer;
    font-size: 16px;
    color: rgba(255,255,255,0.9);
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    width: 100%;
    height: 45px;
    font-weight: bold;
}

.login-dropdown-button:hover, .logout:hover {
    background-color: #ddd;
    color: black;
}

.login-content {
    display: none;
    background-color: rgba(55,58,73, 1);
    position: absolute;
    width: fit-content;
    margin-top: 45px;
    z-index: 1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.login-content label {
    display: block;
    color: rgba(255,255,255,0.9);
}

.login-button {
    margin: auto;
    text-align: center;
    padding: 6px 0px;
    width: 100%;
    color: rgba(255,255,255,0.9);
    background-color: inherit;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 0rem 0rem 1rem 1rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    font-family: "sans-serif";

}

.login-button:hover {
    background-color: rgba(255,255,255,0.2);
}

.loginbox {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1rem;
}

.login-content fieldset {
    border-radius: 0;
}

#display-message {
    display: none;
}


/* Navigation Bar */

.nav {
    height: 45px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    font-weight: bold;
}

.nav a {
    float: left;
    display: block;
    color: rgba(255,255,255,0.9);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Default Page Layout */

.header {
    width: 100%;
    text-align: center;
}

.column {
    margin: auto;
    padding: 15px;
}

.side {
    float: left;
    width: 15%;
}

.main {
    width: 70%;
}

.main h2 {

    text-align: center;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Tables */

table {

    border-collapse: collapse;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 100%;
    overflow: hidden;
}

th, td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: black;
    position: relative;
}

th {
    text-align: left;
}

thead, th {
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.4);
}

td:hover::before {
    background-color: rgba(255,255,255,0.2);
    content: '';
    height: 100%;
    left: -5000px;
    position: absolute;
    top: 0;
    width: 10000px;
    z-index: -2;
    overflow: hidden;

}

td:hover::after {
    overflow: hidden;
    background-color: rgba(255,255,255,0.2);
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

.empty-db {
    text-align: center;
}

.no-data {
    text-align: center;
}

/* Admin Page */

.adminbuttonheader {
    display: block;
    width: 100%;
}

.admincol h1{
    text-align: center;
}

.adminbuttons {
    align-items: center;
    justify-content: left;
    width: 100%;

}

.adminbuttonheader {
    text-align: center;
}

/* Forms */

legend {
    font-size: larger;
    font-weight: bolder;
}

.question {
    font-weight: bold;
    display: inline-block;
    width: 300px;
    text-align: left;
}

.textBox {
    width: 250px;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.9);
    border: 1px solid rgba(0,0,0,0.1);
}

.cancel {
    float: right;
}

.select {
    width: 250px;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.9);
    border: 1px solid rgba(0,0,0,0.1);
}

.recordformcol .button, .employeeform .button {
    width: 20%;
}

fieldset {
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    text-align: center;
}

legend {
    font-weight: bold;
    font-size: 30px;
}

.recordformcol, .employeeform{
    width: 70%;
    margin: auto;
}

.recordformcol fieldset, .employeeform fieldset {
    margin: auto;
    width: 90%;
}

.add {
    float: left;
}

.save {
    float: left;
}

.mod {
    float: right;
}

.date-questions, .delete-questions {
    display: none;
}

/* Alert Box */
#alert {
    display: none;
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: navajowhite;
    color: rgba(0,0,0,0.8);
    z-index: 100;
}

.alertCheckbox {
    display: none;
}

:checked + .alert {
    display: none;
}

.alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.alertClose {
    float: right;
    padding-right: 10px;
    font-size: 15px;
}

.clear {
    clear: both;
}

.info {
    background-color: #EEE;
    border: 1px solid #DDD;
    color: #999;
}


/* Footer */

footer {
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    padding: 10px;
}




.popup {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-wrapper {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
}

#popup-header {
    width: 25%;
    float: left;
    font-size: x-large;
}

.close {
    float: right;
    color: gray;
    margin-right: 2%;
  font-size: xxx-large;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.popup-header {
    display: block;
    position: absolute;
    padding-left: 10%;
    margin: 15px;
    top: 0;
    right: 0;
    left: 0;
    height: 10%;
    font-weight: bolder;
    color: lightgray;
    background: linear-gradient(45deg, #2980B9, #CCCCFF);
}

.form-div {
    display: block;
    position: absolute;
    margin: 15px;
    top: 15%;
    left: 0;
    right: 0;
    font-weight: bolder;
    border: none;
}

.admin-form legend {
    text-align: left;
}


.admin-form label {
    float: left;
    width: 25%;
    text-align: left;
    padding-left: 20px;
}

.popup-footer {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 15px;
    height: 10%;
    background: linear-gradient(45deg, #2980B9, #CCCCFF);
}

.hide {
    display: none;
}

.show {
  display: block;
}

.cancel {
    width: 10%;
    float: right;
}

.submit {
    float: left;
    width: 10%;
}

.employeetable, .leavetable {
    overflow:auto;
    height: 50%;
}

@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
    }

    label.question {
        text-align: left;
        width: 20%;
    }



    /* Footer */

    footer {
        position: relative;

    }
}


